.App {
  text-align: center;
}

.MainCategories {
  margin-left: 50px;
  float: left;
}

.SlideShow {
  margin-right: 50px;
  float: right;
}

.mainCategoryListing {
  margin-left: 50px;
  float: left;
}
.mainCategory:hover {
    background-color: grey;
}

.mainCategory:active {
  background-color: red;
}

.App-link {
  color: #61dafb;
}


.NavBar {
  text-align: left;
  margin-left: 10px;
}
